.main-content-actors {
  margin-top: 8%;
  padding: 1%;
}

.actors {
  width: 100%;
}

.sub-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text-content {
  text-align: left;
  padding:2%;
}

li {
  text-decoration: none;
}

.actor-form {
  padding: 2%;
 }

.actors-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.actors-container > div{
  border: 1px solid white;
  margin-right: 3vw;
  margin-bottom: 3vw;
  padding:5%;
}